<div class="container-fluid my-5 py-5">
  <div class="row">
    <div class="col-6 col-md-2 offset-md-2">
      <% if @page.separation_pic.attached? %>
        <%= cl_image_tag(@page.separation_pic.key, class: "mb-4", style: "height:160px; object-position: center center; object-fit: cover; width: 100%") %>
        <p><%= @page.benefit1 %></p>
      <% else %>
        <%= cl_image_tag(@default_pic, class: "mb-4", style: "height:160px; object-position: center center; object-fit: cover; width: 100%") %>
      <% end %>
    </div>
    <div class="col-6 col-md-2">
      <% if @page.rounded_pic.attached? %>
        <%= cl_image_tag(@page.rounded_pic.key, class: "mb-4", style: "height:160px; object-position: center center; object-fit: cover; width: 100%") %>
        <p><%= @page.benefit4 %></p>
      <% else %>
        <%= cl_image_tag(@default_pic, class: "mb-4", style: "height:160px; object-position: center center; object-fit: cover; width: 100%") %>
      <% end %>
    </div>
    <div class="col-6 col-md-2">
      <% if @page.square_pic.attached? %>
        <%= cl_image_tag(@page.square_pic.key, class: "mb-4", style: "height:160px; object-position: center center; object-fit: cover; width: 100%") %>
        <p><%= @page.benefit4 %></p>
      <% else %>
        <%= cl_image_tag(@default_pic, class: "mb-4", style: "height:160px; object-position: center center; object-fit: cover; width: 100%") %>
      <% end %>
    </div>
    <div class="col-6 col-md-2">
      <% if @page.title2.attached? %>
        <%= cl_image_tag(@page.title2.key, class: "mb-4", style: "height:160px; object-position: center center; object-fit: cover; width: 100%") %>
        <p><%= @page.benefit4 %></p>
      <% else %>
        <%= cl_image_tag(@default_pic, class: "mb-4", style: "height:160px; object-position: center center; object-fit: cover; width: 100%") %>
      <% end %>
    </div>
  </div>
</div>