<div class="navbar navbar-expand-sm navbar-light navbar-lewagon text-center" style="background-color: #FAF7F3">
  <%= link_to "#", class: "navbar-brand" do %>
    <p class="navbar-title mb-0">FOG APOTHECARY</p>
  <% end %>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mx-4">
        <h5><%= link_to "Philosophy", "#", class: "nav-link", style:"font-size: 18px"%></h5>
      </li>
      <li class="nav-item active mx-4">
        <h5><%= link_to "Products", products_path , class: "nav-link", style:"font-size: 18px"%></h5>
      </li>
      <li class="nav-item active mx-4">
        <h5><%= link_to "Stockist", "#", class: "nav-link", style:"font-size: 18px"%></h5>
      </li>
      <li class="nav-item active mx-4">
        <h5><%= link_to "Journal", "#", class: "nav-link", style:"font-size: 18px"%></h5>
      </li>
      <li class="nav-item active mx-4">
        <h5><%= link_to "Contact", "#", class: "nav-link", style:"font-size: 18px"%></h5>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "List new product", new_product_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>