<h3 class="hide-on-small text-center" style="font-size: 30px">BROWSE OUR PRODUCTS</h3>
<h5 class="hide-on-large text-center px-3">MOST POPULAR PRODUCTS</h5>
<div class="row mx-3 mb-5">
  <div class="col-12 col-md-3 my-4">
    <%= link_to products_path, style:"text-decoration: none; color: black" do %>
      <% if Product.find(@page.product1).picture1.attached? %>
        <%= cl_image_tag Product.find(@page.product1).picture1.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
      <% else %>
        <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
      <% end %>
      <p class="mt-3 text-center" style="font-size: 16px;"><%= Product.find(@page.product1).name %></p>
    <% end %>
  </div>
  <div class="col-12 col-md-3 my-4">
    <%= link_to products_path, style:"text-decoration: none; color: black" do %>
      <% if Product.find(@page.product2).picture1.attached? %>
        <%= cl_image_tag Product.find(@page.product2).picture1.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
      <% else %>
        <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
      <% end %>
      <p class="mt-3 text-center" style="font-size: 16px"><%= Product.find(@page.product2).name %></p>
    <% end %>
  </div>
  <div class="col-12 col-md-3 my-4">
    <%= link_to products_path, style:"text-decoration: none; color: black" do %>
      <% if Product.find(@page.product3).picture1.attached? %>
        <%= cl_image_tag Product.find(@page.product3).picture1.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
      <% else %>
        <%= cl_image_tag @default_pic.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
      <% end %>
      <p class="mt-3 text-center" style="font-size: 16px"><%= Product.find(@page.product3).name %></p>
    <% end %>
  </div>
  <div class="col-12 col-md-3 my-4">
    <%= link_to products_path, style:"text-decoration: none; color: black" do %>
      <% if Product.find(@page.product4).picture1.attached? %>
        <%= cl_image_tag Product.find(@page.product4).picture1.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
      <% else %>
        <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
      <% end %>
      <p class="mt-3 text-center" style="font-size: 16px"><%= Product.find(@page.product4).name %></p>
    <% end %>
  </div>
</div>