<!-- Laptop version -->
<div class="container hide-on-small my-5 py-5">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class=" my-4">
        <% if @page.square_pic.attached? %>
          <%= cl_image_tag @page.square_pic.key, class: "rounded-top", style: "height:700px; object-position: center center; object-fit: cover; width: 100%"%>
        <% else %>
          <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:700px; object-position: center center; object-fit: cover; width: 100%"%>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center p-5">
      <div>
        <h5 class="mb-5"><%= @page.title2 %></h5>
        <p class=""><%= simple_format(@page.description2) %></p>
        <div class="row mb-4">
          <div class="col-12 col-md-6 px-5">
            <p><%= @page.benefit1 %></p>
          </div>
          <div class="col-12 col-md-6 px-5">
            <p><%= @page.benefit2 %></p>
          </div>
          <div class="col-12 col-md-6 px-5">
            <p><%= @page.benefit3 %></p>
          </div>
          <div class="col-12 col-md-6 px-5">
            <p><%= @page.benefit4 %></p>
          </div>
        </div>
        <%= link_to "BROWSE OUR PRODUCTS", products_path, class:"btn btn-square-black" %>
      </div>
    </div>
  </div>
</div>
<!-- Mobile version -->
<div class="container hide-on-large my-5 py-5">
  <div class="align-items-center">
    <div>
      <h5 class="mb-4 text-center"><%= @page.title2 %></h5>
      <div class="my-4">
        <% if @page.square_pic.attached? %>
          <%= cl_image_tag @page.square_pic.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
        <% else %>
          <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
        <% end %>
      </div>
      <p class="px-3"><%= simple_format(@page.description2) %></p>
      <div class="px-3">
        <p class="mb-1"><%= @page.benefit1 %></p>
      </div>
      <div class="px-3">
        <p class="mb-1"><%= @page.benefit2 %></p>
      </div>
      <div class="px-3">
        <p class="mb-1"><%= @page.benefit3 %></p>
      </div>
      <div class="px-3">
        <p class="mb-1"><%= @page.benefit4 %></p>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <%= link_to "BROWSE OUR PRODUCTS", products_path, class:"btn btn-square-black" %>
      </div>
    </div>
  </div>
</div>