<h1 class="text-center mt-5 mb-4">Update homepage</h1>
<div class="container center">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <%= simple_form_for [@page] do |f| %>
          <%= f.input :banner_pic, as: :file %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :description1 %>
          <%= f.input :icone1_pic, as: :file, label: "Icone 1" %>
          <%= f.input :icone2_pic, as: :file, label: "Icone 2" %>
          <%= f.input :icone3_pic, as: :file,  label: "Icone 3" %>
          <%= f.input :icone4_pic, as: :file,  label: "Icone 4" %>
          <%= f.input :icone1_text,  label: "Text for icone 1"  %>
          <%= f.input :icone2_text,  label: "Text for icone 2"  %>
          <%= f.input :icone3_text,  label: "Text for icone 3"  %>
          <%= f.input :icone4_text,  label: "Text for icone 4"  %>
          <%= f.input :product1, label: "Choose 1st most popular product", include_blank: false, collection: @products,label_method: :name, value_method: :id%>
          <%= f.input :product2, label: "Choose 2nd most popular product", include_blank: false, collection: @products,label_method: :name, value_method: :id%>
          <%= f.input :product3, label: "Choose 3rd most popular product", include_blank: false, collection: @products,label_method: :name, value_method: :id%>
          <%= f.input :product4, label: "Choose 4th most popular product", include_blank: false, collection: @products,label_method: :name, value_method: :id%>
          <%= f.submit "Update", class: "btn btn btn-yellow-mustard mb-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>