<h3 class="hide-on-small text-center my-5" style="font-size: 30px">Journal</h3>
<h5 class="hide-on-large text-center px-3 m-5">Journal</h5>
<div class="row mx-3 mb-5">
  <% @journals.each do |journal| %>
    <div class="col-12 col-md-4 my-4">
      <%= link_to journal_path(journal), style:"text-decoration: none" do %>
        <% if journal.picture1.attached? %>
          <div class="journal-card" style="height: 260px; background-size: cover; background-position: center; background-image:url('<%= cl_image_path journal.picture1.key, height: 300, width: 400, crop: :fill %>')">
            <div class="container d-flex align-items-center justify-content-center" style="height: 260px">
              <h5 style="font-size: ; letter-spacing: 1px; text-align: center"><%= journal.title %></h5>
            </div>
          </div>
        <% else %>
          <div class="journal-card" style="height: 260px; background-size: cover; background-position: center; background-image:url('<%= cl_image_path @default_pic, height: 300, width: 400, crop: :fill %>')">
            <div class="container d-flex align-items-center justify-content-center" style="height: 260px">
              <h5 style="font-size: ; letter-spacing: 1px; text-align: center"><%= journal.title %></h5>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>