<!-- Laptop version -->
<div class="hide-on-small" >
  <% if @product_banner.picture1.attached? %>
    <%= cl_image_tag(@product_banner.picture1.key, class: "", style: "height:520px; object-position: center center; object-fit: cover; width: 100%")%>
  <% end %>
</div>
<!-- MOBILE VERSION -->
<div class="hide-on-large">
  <% if @product_banner.picture1.attached? %>
    <%= cl_image_tag(@product_banner.picture1.key, class: "", style: "height:360px; object-position: center center; object-fit: cover; width: 100%")%>
  <% end %>
</div>
<div class="text-center my-5 pt-5 px-3">
  <div class="d-flex justify-content-center align-items-center mb-4">
  </div>
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <% if user_signed_in?%>
        <%= link_to "", edit_product_path(@product_banner, {from: 'edit_banner'}), class:"fas fa-edit ml-2" %>
      <% end %>
      <p class="mb-0"><%= simple_format(@product_banner.description_in, style:"font-family: Playfair Display; font-size: 18px; letter-spacing: 0.1em" ) %></p>
      <%= simple_format(@product_banner.description1_in, style:"font-family: Playfair Display; font-size: 18px; letter-spacing: 0.1em", class:"my-0" ) %>
      <%= link_to faqs_path, style:"text-decoration: none; color: black" do  %>
        <p class="mb-0" style="font-family: Playfair Display; font-size: 18px; letter-spacing: 0.1em">Check our <strong>FAQ</strong> page</p>
      <% end %>
    </div>
  </div>
</div>
<!-- For Each  -->
<div class="profile-friends">
  <div class="row search navigations mb-0 mt-5 pt-5">
    <div class="col-10 offset-1 d-flex">
      <div>
        <h3 class="" style="font-size: 15px">FILTER BY</h3>
      </div>
      <div class="ml-4" style="font-size: 15px">
        <div class="dropdown">
          <button class="btn btn-transparent-black dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All products
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <h3 class="dropdown-item pl-3"  id="all" class="active" style="font-size: 16px">All products</h3>
            <h3 class="dropdown-item pl-3" id="spray" style="font-size: 16px">Spray</h3>
            <h3 class="dropdown-item pl-3" id="mist" style="font-size: 16px">Mist</h3>
            <h3 class="dropdown-item pl-3" id="candle" style="font-size: 16px">Candle</h3>
            <h3 class="dropdown-item pl-3" id="balm" style="font-size: 16px">Balm</h3>
            <h3 class="dropdown-item pl-3" id="essential oil" style="font-size: 16px">Essential Oil</h3>
          </div>
        </div>
      </div>
      <%= link_to products_path do %>
        <%= cl_image_tag("https://res.cloudinary.com/fogapothecary/image/upload/v1597307206/iconfinder_United-Kingdom-flag_32363_ueyfuw.png", class: "ml-4", style: "height:30px; object-position: center center; object-fit: cover")  %>
      <% end %>
    </div>
  </div>
  <div id="friends-toPlace" class="">
    <% counter = 1 %>
    <% @products.each do |product| %>
      <% if product.statut != "banner_product" %>
        <% counter +=1 %>
        <% if counter % 2 == 0 %>
          <!-- Laptop version -->
          <div class="container hide-on-small mb-5 py-5">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class=" my-4">
                  <% if product.picture1.attached? %>
                    <% if product.category_product == "Candle" %>
                      <%= cl_image_tag(product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px")%>
                    <% else %>
                      <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                    <% end %>
                  <% else %>
                    <% if product.category_product == "Candle" %>
                      <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                    <% else %>
                      <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center p-5">
                <div>
                  <div class="d-flex">
                    <h5 class="mb-5"><%= product.name_in %></h5>
                    <% if user_signed_in? %>
                      <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                      <h5 class="mb-5">/</h5>
                      <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                    <% end %>
                  </div>
                  <!-- Descsription 1 -->
                  <div class="mb-3">
                    <% if product.title_in !="" %>
                      <p><strong><%= product.title_in%></strong></p>
                    <% end %>
                    <% if product.description_in !="" %>
                      <p><%= simple_format(product.description_in) %></p>
                    <% end %>
                  </div>
                  <!-- Descsription 2 -->
                  <div class="mb-3">
                    <% if product.title1_in !="" %>
                      <p><strong><%= product.title1_in %></strong></p>
                    <% end %>
                    <% if product.description1_in !="" %>
                      <p><%= simple_format(product.description1_in) %></p>
                    <% end %>
                  </div>
                  <!-- Descsription 3 -->
                  <div class="mb-3">
                    <% if product.title2_in !="" %>
                      <p><strong><%= product.title2_in %></strong></p>
                    <% end %>
                    <% if product.description2_in !="" %>
                      <p><%= simple_format(product.description2_in) %></p>
                    <% end %>
                  </div>
                  <!-- Price_in -->
                  <div class="mb-3">
                    <% if product.price_in != "" %>
                      <p><%= simple_format(product.price_in) %></p>
                    <% end %>
                  </div>
                  <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                    <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                    shop via tokopedia
                  <% end %>
                  <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                    <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                    shop via shopee
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="container hide-on-small my-5 py-5">
            <div class="row">
              <div class="col-12 col-md-6 d-flex align-items-center p-5">
                <div>
                  <div class="d-flex">
                    <h5 class="mb-5"><%= product.name_in %></h5>
                    <% if user_signed_in? %>
                      <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                      <h5 class="mb-5">/</h5>
                      <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                    <% end %>
                  </div>
                  <!-- Descsription 1 -->
                  <div class="mb-3">
                    <% if product.title_in !="" %>
                      <p><strong><%= product.title_in%></strong></p>
                    <% end %>
                    <% if product.description_in !="" %>
                      <p><%= simple_format(product.description_in) %></p>
                    <% end %>
                  </div>
                  <!-- Descsription 2 -->
                  <div class="mb-3">
                    <% if product.title1_in !="" %>
                      <p><strong><%= product.title1_in %></strong></p>
                    <% end %>
                    <% if product.description1_in !="" %>
                      <p><%= simple_format(product.description1_in) %></p>
                    <% end %>
                  </div>
                  <!-- Descsription 3 -->
                  <div class="mb-3">
                    <% if product.title2_in !="" %>
                      <p><strong><%= product.title2_in %></strong></p>
                    <% end %>
                    <% if product.description2_in !="" %>
                      <p><%= simple_format(product.description2_in) %></p>
                    <% end %>
                  </div>
                  <!-- Price_in -->
                  <div class="mb-3">
                    <% if product.price_in != "" %>
                      <p><%= simple_format(product.price_in) %></p>
                    <% end %>
                  </div>
                  <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                    <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                    shop via tokopedia
                  <% end %>
                  <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                    <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                    shop via shopee
                  <% end %>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class=" my-4">
                  <% if product.picture1.attached? %>
                    <% if product.category_product == "Candle" %>
                      <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                    <% else %>
                      <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                    <% end %>
                  <% else %>
                    <% if product.category_product == "Candle" %>
                      <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                    <% else %>
                      <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <!-- Mobile version -->
        <div class="container hide-on-large my-5 py-5" style="margin-right: 0 !important; margin-left: 0 !important">
          <div class="align-items-center">
            <div class="d-flex">
              <h5 class="mb-4"><%= product.name_in %></h5>
              <% if user_signed_in? %>
                <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                <h5 class="mb-5">/</h5>
                <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
              <% end %>
            </div>
            <div class="my-4">
              <% if product.picture1.attached?%>
                <%= cl_image_tag product.picture1.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
              <% else %>
                <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
              <% end %>
            </div>
            <div>
              <!-- Descsription 1 -->
              <div class="mb-3">
                <% if product.title_in !="" %>
                  <p><strong><%= product.title_in%></strong></p>
                <% end %>
                <% if product.description_in !="" %>
                  <p><%= simple_format(product.description_in) %></p>
                <% end %>
              </div>
              <!-- Descsription 2 -->
              <div class="mb-3">
                <% if product.title1_in !="" %>
                  <p><strong><%= product.title1_in %></strong></p>
                <% end %>
                <% if product.description1_in !="" %>
                  <p><%= simple_format(product.description1_in) %></p>
                <% end %>
              </div>
              <!-- Descsription 3 -->
              <div class="mb-3">
                <% if product.title2_in !="" %>
                  <p><strong><%= product.title2_in %></strong></p>
                <% end %>
                <% if product.description2_in !="" %>
                  <p><%= simple_format(product.description2_in) %></p>
                <% end %>
              </div>
              <!-- Price_in -->
              <div class="mb-3">
                <% if product.price_in != "" %>
                  <p><%= simple_format(product.price_in) %></p>
                <% end %>
              </div>
              <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:20px", class: "pb-1" %>
                shop via tokopedia
              <% end %>
              <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:20px", class: "pb-1" %>
                shop via shopee
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<script>
  const addClassSelected = (target) => {
  // take parent class -> get children -> remove classes for all children
  // console.log(target)
  const children = target.parentElement.children;
  const childAmount = target.parentElement.childElementCount;
  for (let i=0; i<childAmount; i++) {
    children[i].classList.remove("active");
  }
  // add class
  target.classList.add("active");
  };
  
   this.addEventListener("click", (e) => {
    console.log(e)
    const whereToShow = document.querySelector("#friends-toPlace");
    const id = e.target.id;
    console.log(id)
    if (id === "all") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <% counter = 1 %>
        <% @products.each do |product| %>
          <% if product.statut != "banner_product" %>
            <% counter +=1 %>
            <% if counter % 2 == 0 %>
              <!-- Laptop version -->
              <div class="container hide-on-small mb-5 py-5">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class=" my-4">
                      <% if product.picture1.attached? %>
                        <% if product.category_product == "Candle" %>
                          <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                        <% else %>
                          <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                        <% end %>
                      <% else %>
                        <% if product.category_product == "Candle" %>
                          <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                        <% else %>
                          <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 d-flex align-items-center p-5">
                    <div>
                      <div class="d-flex">
                        <h5 class="mb-5"><%= product.name_in %></h5>
                        <% if user_signed_in? %>
                          <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                          <h5 class="mb-5">/</h5>
                          <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                        <% end %>
                      </div>
                      <!-- Descsription 1 -->
                      <div class="mb-3">
                        <% if product.title_in !="" %>
                          <p><strong><%= product.title_in%></strong></p>
                        <% end %>
                        <% if product.description_in !="" %>
                          <p><%= simple_format(product.description_in) %></p>
                        <% end %>
                      </div>
                      <!-- Descsription 2 -->
                      <div class="mb-3">
                        <% if product.title1_in !="" %>
                          <p><strong><%= product.title1_in %></strong></p>
                        <% end %>
                        <% if product.description1_in !="" %>
                          <p><%= simple_format(product.description1_in) %></p>
                        <% end %>
                      </div>
                      <!-- Descsription 3 -->
                      <div class="mb-3">
                        <% if product.title2_in !="" %>
                          <p><strong><%= product.title2_in %></strong></p>
                        <% end %>
                        <% if product.description2_in !="" %>
                          <p><%= simple_format(product.description2_in) %></p>
                        <% end %>
                      </div>
                      <!-- Price_in -->
                      <div class="mb-3">
                        <% if product.price_in != "" %>
                          <p><%= simple_format(product.price_in) %></p>
                        <% end %>
                      </div>
                      <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                        <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                        shop via tokopedia
                      <% end %>
                      <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                        <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                        shop via shopee
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="container hide-on-small mb-5 py-5">
                <div class="row">
                  <div class="col-12 col-md-6 d-flex align-items-center p-5">
                    <div>
                      <div class="d-flex">
                        <h5 class="mb-5"><%= product.name_in %></h5>
                        <% if user_signed_in? %>
                          <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                          <h5 class="mb-5">/</h5>
                          <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                        <% end %>
                      </div>
                      <!-- Descsription 1 -->
                      <div class="mb-3">
                        <% if product.title_in !="" %>
                          <p><strong><%= product.title_in%></strong></p>
                        <% end %>
                        <% if product.description_in !="" %>
                          <p><%= simple_format(product.description_in) %></p>
                        <% end %>
                      </div>
                      <!-- Descsription 2 -->
                      <div class="mb-3">
                        <% if product.title1_in !="" %>
                          <p><strong><%= product.title1_in %></strong></p>
                        <% end %>
                        <% if product.description1_in !="" %>
                          <p><%= simple_format(product.description1_in) %></p>
                        <% end %>
                      </div>
                      <!-- Descsription 3 -->
                      <div class="mb-3">
                        <% if product.title2_in !="" %>
                          <p><strong><%= product.title2_in %></strong></p>
                        <% end %>
                        <% if product.description2_in !="" %>
                          <p><%= simple_format(product.description2_in) %></p>
                        <% end %>
                      </div>
                      <!-- Price_in -->
                      <div class="mb-3">
                        <% if product.price_in != "" %>
                          <p><%= simple_format(product.price_in) %></p>
                        <% end %>
                      </div>
                      <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                        <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "ml-2 pb-1" %>
                        shop via tokopedia
                      <% end %>
                      <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                        <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "ml-2 pb-1" %>
                        shop via shopee
                      <% end %>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class=" my-4">
                      <% if product.picture1.attached? %>
                        <% if product.category_product == "Candle" %>
                          <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                        <% else %>
                          <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                        <% end %>
                      <% else %>
                        <% if product.category_product == "Candle" %>
                          <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                        <% else %>
                          <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <!-- Mobile version -->
            <div class="container hide-on-large my-5 py-5" style="margin-right: 0 !important; margin-left: 0 !important">
              <div class="align-items-center">
                <div class="d-flex">
                  <h5 class="mb-4"><%= product.name_in %></h5>
                  <% if user_signed_in? %>
                    <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                    <h5 class="mb-5">/</h5>
                    <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                  <% end %>
                </div>
                <div class="my-4">
                  <% if product.picture1.attached?%>
                    <%= cl_image_tag product.picture1.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                  <% else %>
                    <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                  <% end %>
                </div>
                <div>
                  <!-- Descsription 1 -->
                  <div class="mb-3">
                    <% if product.title_in !="" %>
                      <p><strong><%= product.title_in%></strong></p>
                    <% end %>
                    <% if product.description_in !="" %>
                      <p><%= simple_format(product.description_in) %></p>
                    <% end %>
                  </div>
                  <!-- Descsription 2 -->
                  <div class="mb-3">
                    <% if product.title1_in !="" %>
                      <p><strong><%= product.title1_in %></strong></p>
                    <% end %>
                    <% if product.description1_in !="" %>
                      <p><%= simple_format(product.description1_in) %></p>
                    <% end %>
                  </div>
                  <!-- Descsription 3 -->
                  <div class="mb-3">
                    <% if product.title2_in !="" %>
                      <p><strong><%= product.title2_in %></strong></p>
                    <% end %>
                    <% if product.description2_in !="" %>
                      <p><%= simple_format(product.description2_in) %></p>
                    <% end %>
                  </div>
                  <!-- Price_in -->
                  <div class="mb-3">
                    <% if product.price_in != "" %>
                      <p><%= simple_format(product.price_in) %></p>
                    <% end %>
                  </div>
                  <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                    <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "ml-2 pb-1" %>
                    shop via tokopedia
                  <% end %>
                  <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                    <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "ml-2 pb-1" %>
                    shop via shopee
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      `);
    }
    else if (id === "spray") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <% counter = 1 %>
        <% @product_spray.each do |product| %>
          <% counter +=1 %>
          <% if counter % 2 == 0 %>
            <!-- Laptop version -->
            <div class="container hide-on-small mb-5 py-5">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class=" my-4">
                    <% if product.picture1.attached? %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% else %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center p-5">
                  <div>
                    <div class="d-flex">
                      <h5 class="mb-5"><%= product.name_in %></h5>
                      <% if user_signed_in? %>
                        <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                        <h5 class="mb-5">/</h5>
                        <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                      <% end %>
                    </div>
                    <!-- Descsription 1 -->
                    <div class="mb-3">
                      <% if product.title_in !="" %>
                        <p><strong><%= product.title_in%></strong></p>
                      <% end %>
                      <% if product.description_in !="" %>
                        <p><%= simple_format(product.description_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 2 -->
                    <div class="mb-3">
                      <% if product.title1_in !="" %>
                        <p><strong><%= product.title1_in %></strong></p>
                      <% end %>
                      <% if product.description1_in !="" %>
                        <p><%= simple_format(product.description1_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 3 -->
                    <div class="mb-3">
                      <% if product.title2_in !="" %>
                        <p><strong><%= product.title2_in %></strong></p>
                      <% end %>
                      <% if product.description2_in !="" %>
                        <p><%= simple_format(product.description2_in) %></p>
                      <% end %>
                    </div>
                    <!-- Price_in -->
                    <div class="mb-3">
                      <% if product.price_in != "" %>
                        <p><%= simple_format(product.price_in) %></p>
                      <% end %>
                    </div>
                    <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                      shop via tokopedia
                    <% end %>
                    <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                      shop via shopee
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="container hide-on-small my-5 py-5">
              <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-center p-5">
                  <div>
                    <div class="d-flex">
                      <h5 class="mb-5"><%= product.name_in %></h5>
                      <% if user_signed_in? %>
                        <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                        <h5 class="mb-5">/</h5>
                        <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                      <% end %>
                    </div>
                    <!-- Descsription 1 -->
                    <div class="mb-3">
                      <% if product.title_in !="" %>
                        <p><strong><%= product.title_in%></strong></p>
                      <% end %>
                      <% if product.description_in !="" %>
                        <p><%= simple_format(product.description_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 2 -->
                    <div class="mb-3">
                      <% if product.title1_in !="" %>
                        <p><strong><%= product.title1_in %></strong></p>
                      <% end %>
                      <% if product.description1_in !="" %>
                        <p><%= simple_format(product.description1_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 3 -->
                    <div class="mb-3">
                      <% if product.title2_in !="" %>
                        <p><strong><%= product.title2_in %></strong></p>
                      <% end %>
                      <% if product.description2_in !="" %>
                        <p><%= simple_format(product.description2_in) %></p>
                      <% end %>
                    </div>
                    <!-- Price_in -->
                    <div class="mb-3">
                      <% if product.price_in != "" %>
                        <p><%= simple_format(product.price_in) %></p>
                      <% end %>
                    </div>
                    <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                      shop via tokopedia
                    <% end %>
                    <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                      shop via shopee
                    <% end %>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class=" my-4">
                    <% if product.picture1.attached? %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% else %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!-- Mobile version -->
          <div class="container hide-on-large my-5 py-5" style="margin-right: 0 !important; margin-left: 0 !important">
            <div class="align-items-center">
              <div class="d-flex">
                <h5 class="mb-4"><%= product.name_in %></h5>
                <% if user_signed_in? %>
                  <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                  <h5 class="mb-5">/</h5>
                  <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                <% end %>
              </div>
              <div class="my-4">
                <% if product.picture1.attached?%>
                  <%= cl_image_tag product.picture1.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                <% else %>
                  <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                <% end %>
              </div>
              <div>
                <!-- Descsription 1 -->
                <div class="mb-3">
                  <% if product.title_in !="" %>
                    <p><strong><%= product.title_in%></strong></p>
                  <% end %>
                  <% if product.description_in !="" %>
                    <p><%= simple_format(product.description_in) %></p>
                  <% end %>
                </div>
                <!-- Descsription 2 -->
                <div class="mb-3">
                  <% if product.title1_in !="" %>
                    <p><strong><%= product.title1_in %></strong></p>
                  <% end %>
                  <% if product.description1_in !="" %>
                    <p><%= simple_format(product.description1_in) %></p>
                  <% end %>
                </div>
                <!-- Descsription 3 -->
                <div class="mb-3">
                  <% if product.title2_in !="" %>
                    <p><strong><%= product.title2_in %></strong></p>
                  <% end %>
                  <% if product.description2_in !="" %>
                    <p><%= simple_format(product.description2_in) %></p>
                  <% end %>
                </div>
                <!-- Price_in -->
                <div class="mb-3">
                  <% if product.price_in != "" %>
                    <p><%= simple_format(product.price_in) %></p>
                  <% end %>
                </div>
                <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                  <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                  shop via tokopedia
                <% end %>
                <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                  <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                  shop via shopee
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      `);
    }
    else if (id === "mist") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <% counter = 1 %>
        <% @product_mist.each do |product| %>
          <% counter +=1 %>
          <% if counter % 2 == 0 %>
            <!-- Laptop version -->
            <div class="container hide-on-small my-5 py-5">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class=" my-4">
                    <% if product.picture1.attached? %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% else %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center p-5">
                  <div>
                    <div class="d-flex">
                      <h5 class="mb-5"><%= product.name_in %></h5>
                      <% if user_signed_in? %>
                        <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                        <h5 class="mb-5">/</h5>
                        <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                      <% end %>
                    </div>
                    <!-- Descsription 1 -->
                    <div class="mb-3">
                      <% if product.title_in !="" %>
                        <p><strong><%= product.title_in%></strong></p>
                      <% end %>
                      <% if product.description_in !="" %>
                        <p><%= simple_format(product.description_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 2 -->
                    <div class="mb-3">
                      <% if product.title1_in !="" %>
                        <p><strong><%= product.title1_in %></strong></p>
                      <% end %>
                      <% if product.description1_in !="" %>
                        <p><%= simple_format(product.description1_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 3 -->
                    <div class="mb-3">
                      <% if product.title2_in !="" %>
                        <p><strong><%= product.title2_in %></strong></p>
                      <% end %>
                      <% if product.description2_in !="" %>
                        <p><%= simple_format(product.description2_in) %></p>
                      <% end %>
                    </div>
                    <!-- Price_in -->
                    <div class="mb-3">
                      <% if product.price_in != "" %>
                        <p><%= simple_format(product.price_in) %></p>
                      <% end %>
                    </div>
                    <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                      shop via tokopedia
                    <% end %>
                    <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                      shop via shopee
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="container hide-on-small my-5 py-5">
              <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-center p-5">
                  <div>
                    <div class="d-flex">
                      <h5 class="mb-5"><%= product.name_in %></h5>
                      <% if user_signed_in? %>
                        <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                        <h5 class="mb-5">/</h5>
                        <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                      <% end %>
                    </div>
                    <!-- Descsription 1 -->
                    <div class="mb-3">
                      <% if product.title_in !="" %>
                        <p><strong><%= product.title_in%></strong></p>
                      <% end %>
                      <% if product.description_in !="" %>
                        <p><%= simple_format(product.description_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 2 -->
                    <div class="mb-3">
                      <% if product.title1_in !="" %>
                        <p><strong><%= product.title1_in %></strong></p>
                      <% end %>
                      <% if product.description1_in !="" %>
                        <p><%= simple_format(product.description1_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 3 -->
                    <div class="mb-3">
                      <% if product.title2_in !="" %>
                        <p><strong><%= product.title2_in %></strong></p>
                      <% end %>
                      <% if product.description2_in !="" %>
                        <p><%= simple_format(product.description2_in) %></p>
                      <% end %>
                    </div>
                    <!-- Price_in -->
                    <div class="mb-3">
                      <% if product.price_in != "" %>
                        <p><%= simple_format(product.price_in) %></p>
                      <% end %>
                    </div>
                    <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                      shop via tokopedia
                    <% end %>
                    <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                      shop via shopee
                    <% end %>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class=" my-4">
                    <% if product.picture1.attached? %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% else %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!-- Mobile version -->
          <div class="container hide-on-large my-5 py-5" style="margin-right: 0 !important; margin-left: 0 !important">
            <div class="align-items-center">
              <div class="d-flex">
                <h5 class="mb-5"><%= product.name_in %></h5>
                <% if user_signed_in? %>
                  <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                  <h5 class="mb-5">/</h5>
                  <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                <% end %>
              </div>
              <div class="my-4">
                <% if product.picture1.attached?%>
                  <%= cl_image_tag product.picture1.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                <% else %>
                  <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                <% end %>
              </div>
              <div>
                <!-- Descsription 1 -->
                <div class="mb-3">
                  <% if product.title_in !="" %>
                    <p><strong><%= product.title_in%></strong></p>
                  <% end %>
                  <% if product.description_in !="" %>
                    <p><%= simple_format(product.description_in) %></p>
                  <% end %>
                </div>
                <!-- Descsription 2 -->
                <div class="mb-3">
                  <% if product.title1_in !="" %>
                    <p><strong><%= product.title1_in %></strong></p>
                  <% end %>
                  <% if product.description1_in !="" %>
                    <p><%= simple_format(product.description1_in) %></p>
                  <% end %>
                </div>
                <!-- Descsription 3 -->
                <div class="mb-3">
                  <% if product.title2_in !="" %>
                    <p><strong><%= product.title2_in %></strong></p>
                  <% end %>
                  <% if product.description2_in !="" %>
                    <p><%= simple_format(product.description2_in) %></p>
                  <% end %>
                </div>
                <!-- Price_in -->
                <div class="mb-3">
                  <% if product.price_in != "" %>
                    <p><%= simple_format(product.price_in) %></p>
                  <% end %>
                </div>
                <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                  <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                  shop via tokopedia
                <% end %>
                <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                  <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                  shop via shopee
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      `);
    }
    else if (id === "balm") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <% counter = 1 %>
        <% @product_balm.each do |product| %>
          <% counter +=1 %>
          <% if counter % 2 == 0 %>
            <!-- Laptop version -->
            <div class="container hide-on-small mb-5 py-5">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class=" my-4">
                    <% if product.picture1.attached? %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% else %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center p-5">
                  <div>
                    <div class="d-flex">
                      <h5 class="mb-5"><%= product.name_in %></h5>
                      <% if user_signed_in? %>
                        <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                        <h5 class="mb-5">/</h5>
                        <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                      <% end %>
                    </div>
                    <!-- Descsription 1 -->
                    <div class="mb-3">
                      <% if product.title_in !="" %>
                        <p><strong><%= product.title_in%></strong></p>
                      <% end %>
                      <% if product.description_in !="" %>
                        <p><%= simple_format(product.description_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 2 -->
                    <div class="mb-3">
                      <% if product.title1_in !="" %>
                        <p><strong><%= product.title1_in %></strong></p>
                      <% end %>
                      <% if product.description1_in !="" %>
                        <p><%= simple_format(product.description1_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 3 -->
                    <div class="mb-3">
                      <% if product.title2_in !="" %>
                        <p><strong><%= product.title2_in %></strong></p>
                      <% end %>
                      <% if product.description2_in !="" %>
                        <p><%= simple_format(product.description2_in) %></p>
                      <% end %>
                    </div>
                    <!-- Price_in -->
                    <div class="mb-3">
                      <% if product.price_in != "" %>
                        <p><%= simple_format(product.price_in) %></p>
                      <% end %>
                    </div>
                    <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                      shop via tokopedia
                    <% end %>
                    <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                      shop via shopee
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="container hide-on-small my-5 py-5">
              <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-center p-5">
                  <div>
                    <div class="d-flex">
                      <h5 class="mb-5"><%= product.name_in %></h5>
                      <% if user_signed_in? %>
                        <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                        <h5 class="mb-5">/</h5>
                        <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                      <% end %>
                    </div>
                    <!-- Descsription 1 -->
                    <div class="mb-3">
                      <% if product.title_in !="" %>
                        <p><strong><%= product.title_in%></strong></p>
                      <% end %>
                      <% if product.description_in !="" %>
                        <p><%= simple_format(product.description_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 2 -->
                    <div class="mb-3">
                      <% if product.title1_in !="" %>
                        <p><strong><%= product.title1_in %></strong></p>
                      <% end %>
                      <% if product.description1_in !="" %>
                        <p><%= simple_format(product.description1_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 3 -->
                    <div class="mb-3">
                      <% if product.title2_in !="" %>
                        <p><strong><%= product.title2_in %></strong></p>
                      <% end %>
                      <% if product.description2_in !="" %>
                        <p><%= simple_format(product.description2_in) %></p>
                      <% end %>
                    </div>
                    <!-- Price_in -->
                    <div class="mb-3">
                      <% if product.price_in != "" %>
                        <p><%= simple_format(product.price_in) %></p>
                      <% end %>
                    </div>
                    <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                      shop via tokopedia
                    <% end %>
                    <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                      shop via shopee
                    <% end %>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class=" my-4">
                    <% if product.picture1.attached? %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% else %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!-- Mobile version -->
          <div class="container hide-on-large my-5 py-5" style="margin-right: 0 !important; margin-left: 0 !important">
            <div class="align-items-center">
              <div class="d-flex">
                <h5 class="mb-4"><%= product.name_in %></h5>
                <% if user_signed_in? %>
                  <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                  <h5 class="mb-5">/</h5>
                  <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                <% end %>
              </div>
              <div class="my-4">
                <% if product.picture1.attached?%>
                  <%= cl_image_tag product.picture1.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                <% else %>
                  <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                <% end %>
              </div>
              <div>
                <!-- Descsription 1 -->
                <div class="mb-3">
                  <% if product.title_in !="" %>
                    <p><strong><%= product.title_in%></strong></p>
                  <% end %>
                  <% if product.description_in !="" %>
                    <p><%= simple_format(product.description_in) %></p>
                  <% end %>
                </div>
                <!-- Descsription 2 -->
                <div class="mb-3">
                  <% if product.title1_in !="" %>
                    <p><strong><%= product.title1_in %></strong></p>
                  <% end %>
                  <% if product.description1_in !="" %>
                    <p><%= simple_format(product.description1_in) %></p>
                  <% end %>
                </div>
                <!-- Descsription 3 -->
                <div class="mb-3">
                  <% if product.title2_in !="" %>
                    <p><strong><%= product.title2_in %></strong></p>
                  <% end %>
                  <% if product.description2_in !="" %>
                    <p><%= simple_format(product.description2_in) %></p>
                  <% end %>
                </div>
                <!-- Price_in -->
                <div class="mb-3">
                  <% if product.price_in != "" %>
                    <p><%= simple_format(product.price_in) %></p>
                  <% end %>
                </div>
                <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                  <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                  shop via tokopedia
                <% end %>
                <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                  <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                  shop via shopee
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      `);
    }
    else if (id === "essential oil") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <% counter = 1 %>
        <% @product_essential_oil.each do |product| %>
          <% counter +=1 %>
          <% if counter % 2 == 0 %>
            <!-- Laptop version -->
            <div class="container hide-on-small mb-5 py-5">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class=" my-4">
                    <% if product.picture1.attached? %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% else %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center p-5">
                  <div>
                    <div class="d-flex">
                      <h5 class="mb-5"><%= product.name_in %></h5>
                      <% if user_signed_in? %>
                        <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                        <h5 class="mb-5">/</h5>
                        <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                      <% end %>
                    </div>
                    <!-- Descsription 1 -->
                    <div class="mb-3">
                      <% if product.title_in !="" %>
                        <p><strong><%= product.title_in%></strong></p>
                      <% end %>
                      <% if product.description_in !="" %>
                        <p><%= simple_format(product.description_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 2 -->
                    <div class="mb-3">
                      <% if product.title1_in !="" %>
                        <p><strong><%= product.title1_in %></strong></p>
                      <% end %>
                      <% if product.description1_in !="" %>
                        <p><%= simple_format(product.description1_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 3 -->
                    <div class="mb-3">
                      <% if product.title2_in !="" %>
                        <p><strong><%= product.title2_in %></strong></p>
                      <% end %>
                      <% if product.description2_in !="" %>
                        <p><%= simple_format(product.description2_in) %></p>
                      <% end %>
                    </div>
                    <!-- Price_in -->
                    <div class="mb-3">
                      <% if product.price_in != "" %>
                        <p><%= simple_format(product.price_in) %></p>
                      <% end %>
                    </div>
                    <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                      shop via tokopedia
                    <% end %>
                    <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                      shop via shopee
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="container hide-on-small my-5 py-5">
              <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-center p-5">
                  <div>
                    <div class="d-flex">
                      <h5 class="mb-5"><%= product.name_in %></h5>
                      <% if user_signed_in? %>
                        <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                        <h5 class="mb-5">/</h5>
                        <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                      <% end %>
                    </div>
                    <!-- Descsription 1 -->
                    <div class="mb-3">
                      <% if product.title_in !="" %>
                        <p><strong><%= product.title_in%></strong></p>
                      <% end %>
                      <% if product.description_in !="" %>
                        <p><%= simple_format(product.description_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 2 -->
                    <div class="mb-3">
                      <% if product.title1_in !="" %>
                        <p><strong><%= product.title1_in %></strong></p>
                      <% end %>
                      <% if product.description1_in !="" %>
                        <p><%= simple_format(product.description1_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 3 -->
                    <div class="mb-3">
                      <% if product.title2_in !="" %>
                        <p><strong><%= product.title2_in %></strong></p>
                      <% end %>
                      <% if product.description2_in !="" %>
                        <p><%= simple_format(product.description2_in) %></p>
                      <% end %>
                    </div>
                    <!-- Price_in -->
                    <div class="mb-3">
                      <% if product.price_in != "" %>
                        <p><%= simple_format(product.price_in) %></p>
                      <% end %>
                    </div>
                    <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                      shop via tokopedia
                    <% end %>
                    <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                      shop via shopee
                    <% end %>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class=" my-4">
                    <% if product.picture1.attached? %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% else %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!-- Mobile version -->
          <div class="container hide-on-large my-5 py-5" style="margin-right: 0 !important; margin-left: 0 !important">
            <div class="align-items-center">
              <div class="d-flex">
                <h5 class="mb-4"><%= product.name_in %></h5>
                <% if user_signed_in? %>
                  <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                  <h5 class="mb-5">/</h5>
                  <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                <% end %>
              </div>
              <div class="my-4">
                <% if product.picture1.attached?%>
                  <%= cl_image_tag product.picture1.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                <% else %>
                  <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                <% end %>
              </div>
              <div>
                <!-- Descsription 1 -->
                <div class="mb-3">
                  <% if product.title_in !="" %>
                    <p><strong><%= product.title_in%></strong></p>
                  <% end %>
                  <% if product.description_in !="" %>
                    <p><%= simple_format(product.description_in) %></p>
                  <% end %>
                </div>
                <!-- Descsription 2 -->
                <div class="mb-3">
                  <% if product.title1_in !="" %>
                    <p><strong><%= product.title1_in %></strong></p>
                  <% end %>
                  <% if product.description1_in !="" %>
                    <p><%= simple_format(product.description1_in) %></p>
                  <% end %>
                </div>
                <!-- Descsription 3 -->
                <div class="mb-3">
                  <% if product.title2_in !="" %>
                    <p><strong><%= product.title2_in %></strong></p>
                  <% end %>
                  <% if product.description2_in !="" %>
                    <p><%= simple_format(product.description2_in) %></p>
                  <% end %>
                </div>
                <!-- Price_in -->
                <div class="mb-3">
                  <% if product.price_in != "" %>
                    <p><%= simple_format(product.price_in) %></p>
                  <% end %>
                </div>
                <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                  <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                  shop via tokopedia
                <% end %>
                <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                  <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                  shop via shopee
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      `);
    }
    else if (id === "candle") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <% counter = 1 %>
        <% @product_candle.each do |product| %>
          <% counter +=1 %>
          <% if counter % 2 == 0 %>
            <!-- Laptop version -->
            <div class="container hide-on-small my-5 py-5">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class=" my-4">
                    <% if product.picture1.attached? %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% else %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center p-5">
                  <div>
                    <div class="d-flex">
                      <h5 class="mb-5"><%= product.name_in %></h5>
                      <% if user_signed_in? %>
                        <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                        <h5 class="mb-5">/</h5>
                        <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                      <% end %>
                    </div>
                    <!-- Descsription 1 -->
                    <div class="mb-3">
                      <% if product.title_in !="" %>
                        <p><strong><%= product.title_in%></strong></p>
                      <% end %>
                      <% if product.description_in !="" %>
                        <p><%= simple_format(product.description_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 2 -->
                    <div class="mb-3">
                      <% if product.title1_in !="" %>
                        <p><strong><%= product.title1_in %></strong></p>
                      <% end %>
                      <% if product.description1_in !="" %>
                        <p><%= simple_format(product.description1_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 3 -->
                    <div class="mb-3">
                      <% if product.title2_in !="" %>
                        <p><strong><%= product.title2_in %></strong></p>
                      <% end %>
                      <% if product.description2_in !="" %>
                        <p><%= simple_format(product.description2_in) %></p>
                      <% end %>
                    </div>
                    <!-- Price_in -->
                    <div class="mb-3">
                      <% if product.price_in != "" %>
                        <p><%= simple_format(product.price_in) %></p>
                      <% end %>
                    </div>
                    <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                      shop via tokopedia
                    <% end %>
                    <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                      shop via shopee
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="container hide-on-small my-5 py-5">
              <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-center p-5">
                  <div>
                    <div class="d-flex">
                      <h5 class="mb-5"><%= product.name_in %></h5>
                      <% if user_signed_in? %>
                        <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                        <h5 class="mb-5">/</h5>
                        <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                      <% end %>
                    </div>
                    <!-- Descsription 1 -->
                    <div class="mb-3">
                      <% if product.title_in !="" %>
                        <p><strong><%= product.title_in%></strong></p>
                      <% end %>
                      <% if product.description_in !="" %>
                        <p><%= simple_format(product.description_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 2 -->
                    <div class="mb-3">
                      <% if product.title1_in !="" %>
                        <p><strong><%= product.title1_in %></strong></p>
                      <% end %>
                      <% if product.description1_in !="" %>
                        <p><%= simple_format(product.description1_in) %></p>
                      <% end %>
                    </div>
                    <!-- Descsription 3 -->
                    <div class="mb-3">
                      <% if product.title2_in !="" %>
                        <p><strong><%= product.title2_in %></strong></p>
                      <% end %>
                      <% if product.description2_in !="" %>
                        <p><%= simple_format(product.description2_in) %></p>
                      <% end %>
                    </div>
                    <!-- Price_in -->
                    <div class="mb-3">
                      <% if product.price_in != "" %>
                        <p><%= simple_format(product.price_in) %></p>
                      <% end %>
                    </div>
                    <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                      shop via tokopedia
                    <% end %>
                    <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                      <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                      shop via shopee
                    <% end %>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class=" my-4">
                    <% if product.picture1.attached? %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag product.picture1.key, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 436px; border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% else %>
                      <% if product.category_product == "Candle" %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%; border-radius: 360px"%>
                      <% else %>
                        <%= cl_image_tag @default_pic, class: "", style: "height:674px; object-position: center center; object-fit: cover; width: 100%;     border-top-left-radius: 30% 260px; border-top-right-radius: 120% 1000px; border-bottom-left-radius: 120% 1000px; border-bottom-right-radius: 30% 260px;"%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!-- Mobile version -->
          <div class="container hide-on-large my-5 py-5" style="margin-right: 0 !important; margin-left: 0 !important">
            <div class="align-items-center">
              <div class="d-flex">
                <h5 class="mb-4"><%= product.name_in %></h5>
                <% if user_signed_in? %>
                  <%= link_to "", edit_product_path(product), class:"fas fa-edit ml-2 mt-2" %>
                  <h5 class="mb-5">/</h5>
                  <%= link_to '', product_path(product), method: :delete, data: { confirm: 'Are you sure you cant to delete this product ?'}, class:"fas fa-trash mt-2"  %>
                <% end %>
              </div>
              <div class="my-4">
                <% if product.picture1.attached?%>
                  <%= cl_image_tag product.picture1.key, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                <% else %>
                  <%= cl_image_tag @default_pic, class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
                <% end %>
              </div>
              <div>
                <!-- Descsription 1 -->
                <div class="mb-3">
                  <% if product.title_in !="" %>
                    <p><strong><%= product.title_in%></strong></p>
                  <% end %>
                  <% if product.description_in !="" %>
                    <p><%= simple_format(product.description_in) %></p>
                  <% end %>
                </div>
                <!-- Descsription 2 -->
                <div class="mb-3">
                  <% if product.title1_in !="" %>
                    <p><strong><%= product.title1_in %></strong></p>
                  <% end %>
                  <% if product.description1_in !="" %>
                    <p><%= simple_format(product.description1_in) %></p>
                  <% end %>
                </div>
                <!-- Descsription 3 -->
                <div class="mb-3">
                  <% if product.title2_in !="" %>
                    <p><strong><%= product.title2_in %></strong></p>
                  <% end %>
                  <% if product.description2_in !="" %>
                    <p><%= simple_format(product.description2_in) %></p>
                  <% end %>
                </div>
                <!-- Price_in -->
                <div class="mb-3">
                  <% if product.price_in != "" %>
                    <p><%= simple_format(product.price_in) %></p>
                  <% end %>
                </div>
                <%= link_to "https://#{product.toko_link}", target: :blank, class:"btn btn-round-black" do %>
                  <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/tokoped_zxwjxm.png", style: "width:28px", class: "pb-1" %>
                  shop via tokopedia
                <% end %>
                <%= link_to "https://#{product.shopee_link}", target: :blank, class:"btn btn-round-black" do %>
                  <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1597152461/shopee_os8whl.png", style: "width:28px", class: "pb-1" %>
                  shop via shopee
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      `);
    };
  });
</script>