<h1 class="text-center mt-5 mb-4">List a new product</h1>
<div class="container center">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <%= simple_form_for [@product] do |f| %>
          <%= f.input :name, label: "Title" %>
          <%= f.input :category_product, collection: %w(Mist Spray Cream) %>
          <%= f.input :description %>
          <%= f.input :benefit1 %>
          <%= f.input :benefit2 %>
          <%= f.input :benefit3 %>
          <%= f.input :benefit4 %>
          <%= f.input :price_small %>
          <%= f.input :price_large %>
          <%= f.input :picture1, as: :file %>
          <%= f.input :picture2, as: :file %>
          <%= f.input :picture3, as: :file %>
          <%#= f.input :photo %>
          <%#= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Create", class: "btn btn-success mb-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>